# ─── MySQL Database ───────────────────────────────────────────
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:yourpassword@localhost:3306/ashwini_poultry"

# ─── NextAuth ─────────────────────────────────────────────────
NEXTAUTH_SECRET="ashwini-poultry-secret-key-32chars!!"
NEXTAUTH_URL="http://localhost:3000"

